<plugin name='random-test-order' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Jarred Olson (Twitter: @JarredOlson)</author>
  <title>Random Test Order</title>
  <description>
        Allows you to run your unit and integration tests in a random order.
        This is helpful when trying to identify tests that rely on data or setup from another test.
    </description>
  <documentation>http://grails.org/plugin/random-test-order</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>