<plugin name='random-test-order' version='0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Jarred Olson (Twitter: @JarredOlson)</author>
  <title>Random Test Order - Allows you to run your tests in a random order</title>
  <description>
        Allows you to run your unit, integration, and functional tests in a random order.
        This is helpful when trying to identify tests that rely on data or setup from another test.

        {code}grails random-test-order [test type] [seed]{code}

        [test type]
            -unit
            -integration
            -functional
        [seed]
            -seed

        examples:
            {code}grails random-test-order -unit{code}             //will run all unit tests in a random order
            {code}grails random-test-order -unit -seed 1399148896295{code}      //will run all unit test in a consistent random order based on given seed value


        When you execute the script you will see output like the following:

        About to execute the following test app script...
        grails test-app -unit UnitBTests UnitCTests UnitATests

    </description>
  <documentation>http://grails.org/plugin/random-test-order</documentation>
  <type>RandomTestOrderGrailsPlugin</type>
  <resources />
</plugin>